/*===========================
    Login Page 
===========================*/
.sign-in-page h2{
    text-transform: uppercase;
}
.login-form a {
    display: block;
    font-weight: 500;
}

.login-form input {
    padding: 20px;
    border-radius: 5px;
    background: $white;
    transition: $transition;
    margin-bottom: 40px;
}

.login-form input::placeholder {
    color: #86939e;
}
.login-form input[type=submit]{
    width: 100%;
    background: $base-color;
    color: $white;
    transition: $transition;
    margin-bottom: 30px;
    &:hover{
        background: $secendary-color;
        color: $white;
    }
}
.sign-in-page {
    padding-top: 86px;
    padding-bottom: 117px;
}